node_modules/*
.vite
src/*
dist/*
*.log
*.env
eslint.config.js
package-lock.json
package.json
postcss.config.js
tailwind.config.js
vite.config.js
tsconfig.json
*.tsbuildinfo
*.d.ts
tsconfig.app.json
tsconfig.json
tsconfig.node.json